## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num1=4
print (num1)

4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(num1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre='Maria Gabriela'

5) Crear una variable que contenga un número complejo

In [4]:
complejo= 6+8j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3,1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
booleano='True'
boolenado2=True
#no porque uno es str y el otro bool

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(booleano))
print(type(boolenado2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
resultado= 5 + 7.2

11) Realizar una operación de suma de números complejos

In [13]:
suma_complejo= (5+4j) +(7+6j)
print(suma_complejo)

(12+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
suma_e_c= 4 + (8+4j)
print(suma_e_c)

(12+4j)

13) Realizar una operación de multiplicación

In [15]:
multiplica= 6*4
print(multiplica)

24

14) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
eleva=2**8
print(eleva )

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [17]:
division=27/4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [21]:
b= 27//4
print(int(division))
print(b)

6
6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
a=27%4
print(a)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
c=4*b+a
print(c)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
libro = 'la caperucita '
color = 'roja 2'
cuento = libro + color
print(cuento)

la caperucita roja 2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
'2' ==2
#porque uno es str y el otro int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
int('2')==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [31]:
a = float('3,8')
#xq no se puede convertir un str en float

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [33]:
var1=3
var1-=1
print(var1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1<<2
#porque corre a la  izquierda 2 lugares o sea 100(binario)=4(decimal)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [36]:
2+'2'
#xq int + str no se puede sumar
var2=2+2
var3='2'+'2'
#si son del mismo tipo, se puede +

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [38]:
num1= 3
var1='hola'
res= str(num1)+ var1
print(res)
#concatena

3hola